Repository mkonig/tuidal: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-whitespace, black, isort, flake8, pyspelling

trailing-whitespace:
  run: sed -i 's/[[:space:]]*$//' {staged_files}

black:
  run: black {staged_files}

isort:
  run: isort --profile black {staged_files}

flake8:
  run: flake8 {staged_files}

pyspelling:
  run: pipenv run pyspelling -c .pyspelling.yml

feat: Added playback progress
  .editorconfig
  Pipfile.lock
  shell.nix
  tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

fead: More key bindings. Fixing linter issues. Adding logging instead of print()
  Pipfile
  Pipfile.lock
  pyproject.toml
  tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

fix: Fixing playing next and continouos playing.
  .project-words.txt
  tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

fix: Fixing linter issues.
  .project-words.txt
  .pyspelling.yml
  Pipfile
  Pipfile.lock
  README.md
  lefthook.yml
  shell.nix
  tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

build: Switch to pdm.
  .flake8
  .project-words.txt
  Pipfile
  Pipfile.lock
  pdm.lock
  pyproject.toml
  shell.nix
  src/tuidal/tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

chore(version): 0.1.0
  CHANGELOG.md
Due: trailing-whitespace, pyspelling

build: Add cog config.
  cog.toml
Due: none

chore(version): v0.1.0
  CHANGELOG.md
Due: trailing-whitespace, pyspelling

docs: Removed duplication in changelog.
  .project-words.txt
  .pyspelling.yml
  CHANGELOG.md
Due: trailing-whitespace, pyspelling

fix: Wrong parameter name when initialising PlayerWidget.
  cog.toml
  lefthook.yml
  src/tuidal/tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

chore(version): v0.1.1
  CHANGELOG.md
Due: trailing-whitespace, pyspelling

feat: New tabbed ui.
  .pyspelling.yml
  pdm.lock
  pyproject.toml
  src/tuidal/tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

feat: Better focus handling.
  .project-words.txt
  lefthook.yml
  pdm.lock
  pyproject.toml
  shell.nix
  src/tuidal/tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

feat: Shortcut highlighting for tabs.
  .project-words.txt
  src/tuidal/stylix_theme.py
  src/tuidal/tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

feat: Year and duration for albums
  pyproject.toml
  src/tuidal/session.py
  src/tuidal/tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

chore(version): v0.2.0
  CHANGELOG.md
Due: trailing-whitespace, pyspelling

feat: Added localization basics.
  .harper-dictionary.txt
  .project-words.txt
  locales/de/LC_MESSAGES/base.po
  locales/de/LC_MESSAGES/base.po~
  pdm.lock
  src/tuidal/tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

feat: Basic toml config.
  src/tuidal/tuidal.py
  tuidal.toml
Due: trailing-whitespace, black, isort, flake8, pyspelling

fix: Focus handling when using arrow keys to switch tabs.
  README.md
  docs/tuidal.png
  lefthook.yml
  src/tuidal/tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

chore: Clean up pdm.
  pdm.lock
  pyproject.toml
  shell.nix
Due: none

chore: Clean up dependencies.
  pdm.lock
  pyproject.toml
Due: none

chore: Bump pyproject version.
  pyproject.toml
Due: none

chore(version): v0.3.0
  CHANGELOG.md
Due: trailing-whitespace, pyspelling

chore: Depend on mpv=>1.0.7
  pdm.lock
  pyproject.toml
Due: none

fix: build
  src/tuidal/__init__.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

fix: build
  pyproject.toml
  src/tuidal/tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

feat: Added default config.
  pdm.lock
  pyproject.toml
  src/tuidal/tuidal.py
Due: trailing-whitespace, black, isort, flake8, pyspelling

fix: dependencies to fit nix
  pyproject.toml
Due: none

Path conditions:
  trailing-whitespace: any of: *.{py,md,txt,yaml,yml,json}
  black: any of: *.py
  isort: any of: *.py
  flake8: any of: *.py
  pyspelling: any of: *.{py,md}
